<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-sent-message-heading" data-cy="SentMessageCreateUpdateHeading">Create or edit a Sent Message</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_senderId">Sender Id</label>
          <input type="number" class="form-control" name="senderId" id="field_senderId" data-cy="senderId" formControlName="senderId" />
          <div *ngIf="editForm.get('senderId')!.invalid && (editForm.get('senderId')!.dirty || editForm.get('senderId')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('senderId')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('senderId')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_toPersonId">To Person Id</label>
          <input
            type="number"
            class="form-control"
            name="toPersonId"
            id="field_toPersonId"
            data-cy="toPersonId"
            formControlName="toPersonId"
          />
          <div *ngIf="editForm.get('toPersonId')!.invalid && (editForm.get('toPersonId')!.dirty || editForm.get('toPersonId')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('toPersonId')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('toPersonId')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_message">Message</label>
          <input type="text" class="form-control" name="message" id="field_message" data-cy="message" formControlName="message" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_sendDate">Send Date</label>
          <div class="input-group">
            <input
              id="field_sendDate"
              data-cy="sendDate"
              type="text"
              class="form-control"
              name="sendDate"
              ngbDatepicker
              #sendDateDp="ngbDatepicker"
              formControlName="sendDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="sendDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_isDeleted">Is Deleted</label>
          <input type="checkbox" class="form-check" name="isDeleted" id="field_isDeleted" data-cy="isDeleted" formControlName="isDeleted" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
