<div>
  <h2 id="page-heading" data-cy="ReceivedMessageHeading">
    <span>Received Messages</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-received-message"
        [routerLink]="['/received-message/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Received Message </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="receivedMessages?.length === 0">
    <span>No receivedMessages found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="receivedMessages && receivedMessages.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Receiver Id</span></th>
          <th scope="col"><span>From Person Id</span></th>
          <th scope="col"><span>Message</span></th>
          <th scope="col"><span>Received Date</span></th>
          <th scope="col"><span>Is Deleted</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let receivedMessage of receivedMessages; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/received-message', receivedMessage.id, 'view']">{{ receivedMessage.id }}</a>
          </td>
          <td>{{ receivedMessage.receiverId }}</td>
          <td>{{ receivedMessage.fromPersonId }}</td>
          <td>{{ receivedMessage.message }}</td>
          <td>{{ receivedMessage.receivedDate | formatMediumDate }}</td>
          <td>{{ receivedMessage.isDeleted }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/received-message', receivedMessage.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/received-message', receivedMessage.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(receivedMessage)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
